body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding-bottom: 50px; /* Adds padding to bottom of page */
}

a, a:hover {
	color: #3355BB;
}

button:focus {
	outline: none;
}
button:active {
	outline: none;
}

/*---------------------------------------------------------------*/

#header {
	background-color: #212529;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 1;
}

#header .container {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-brand {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: auto;
	font-size: min(4em, 12vw);
	font-family: 'Optima', sans-serif;
	/* font-variant: small-caps; */
}

.navbar-brand a {
	color: #FFFFFF;
}
.navbar-brand span {
	color: #FFFFFF;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.navbar-title-left {
	padding-right: 2px;
}
/* .navbar-title-right {
	padding-left: 8px;
} */

/*---------------------------------------------------------------*/

#sticky-nav {
	background-color: #212529;
}

.vertcenter {
	vertical-align: middle;
}

#mainnav {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#navbarDropdown {
	color: white;
	background-color: transparent;
}

#menu-bars-button {
	font-size: 1.5rem;
}
#menu-bars-button-small {
	font-size: 1rem;
}

/*---------------------------------------------------------------*/

#maincontent {
	background-color: #FFFFFF;
}

#banner-img {
	width: 100%;
}

/*---------------------------------------------------------------*/

#herocarousel {
	margin-top: 0px;
	margin-bottom: 30px;
}

.carousel-control-prev {
	width: 20px;
}
.carousel-control-next {
	width: 20px;
}

.carousel-control-prev-icon {
	filter: invert(1)
}
.carousel-control-next-icon {
	filter: invert(1)
}

.carousel-indicators {
	position: relative;
	padding-top: 20px;
}
.carousel-indicators li {
	background-color: #AAAAAA;
}
.carousel-indicators .active {
	background-color: black;
}

.heroimg {
	width: 100%;
}

.my-carousel-caption {
	text-align: center;
	padding-bottom: 5px;
	color: #666666;
	font-size: small;
}

.carousel-item .nospace {
	padding: 0px;
	margin: 0px;
}

.carousel-item .spacer {
	width: 20px;
	height: 100%;
}

/*---------------------------------------------------------------*/

.mainitem {
	margin-bottom: 2em;
}
.mainheader {
	font-family: 'Optima', sans-serif;
	font-weight: bold;
	/* font-variant: small-caps; */
	font-size: 2em;
	margin-bottom: 6px;
}

.subitem {
	margin-bottom: 1em;
}

.subheader {
	font-family: 'Optima', sans-serif;
	/* font-variant: small-caps; */
	font-weight: bold;
	font-size: 1.25em;
}

.purposeheader {
	font-style: italic;
	font-family: 'Optima', sans-serif;
	font-size: 1.15em;
}

.anchor {
	position: relative;
}

.anchor a {
	position: absolute;
	left: 0px;
	top: -62px;
}

/*---------------------------------------------------------------*/

#research-vision-cont {
	text-align: center;
}

#research-vision {
	width: 80%;
	margin-right: 8%;
}

/*---------------------------------------------------------------*/

.person {
	margin-bottom: 15px;
}

.personname {
	font-weight: bold;
}

.personpic img {
	border-radius: 8px;
	width: min(170px, 100%);
}

.hoverpic {
	transition-property: filter;
	transition: .5s ease;
}
.hoverpic:hover {
	filter: opacity(50%);
}

.facstarting {
	font-style: italic;
	color:  #444444;
}

/*---------------------------------------------------------------*/

.thead-dark button {
	font-weight: bold;
	color: white;	
	background-color: transparent;
	border: none;
}



th button.sort {
  text-align:left; 
  padding:0 10px;
  border: none; background: none; 
  display: block; width:100%; 
  border-bottom: 1px solid transparent;  
}
th button.sort.textcenter,
th button.sort.text-center { text-align:center; }
th button.sort.textright,
th button.sort.text-right { text-align:right; }
button.sort .bullet { margin-top:13px; }



.table-list .caret:after { content:""; }
.asc .caret:after {
  width: 0;
  height: 0;	
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #FFFFFF;
  content: "";
  position: relative;
  top: -3px;
  right: -4px;
  font-size:0; }
.desc .caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #FFFFFF;
  content: "";
  position: relative;
  top: -4px;
  right: -4px;
  font-size:0; }
button.sort .caret { display:none; }
button.sort.asc .caret { display:inline-block; }
button.sort.desc .caret { display:inline-block; }


.pubprof, .pubarea {
	display: none;
}

.noresult {
	text-align: center;
	font-weight: bold;
	color: #888888;
	padding-bottom: 15px;
	display: none;
}


.table-search .search {
	width: 100%;
}

.table-page-search .jPaginateBack,
.table-page-search .jPaginateNext {
	background-color: transparent;
	border: none;
	padding: none;
	user-select: none;
}
.table-page-search .jPaginateBack:hover,
.table-page-search .jPaginateNext:hover {
	cursor: pointer;
	color: #3355BB;
}

.table-search input {
	text-indent: 10px;
	border: 1px solid #999999;
}

.pagination li {
	padding-left: 5px;
	padding-right: 5px;
}

.pagination a {
	color: #000000;
	text-decoration: none;
}
.pagination .active a,
.pagination .disabled a {
	color: #999999;
	cursor: default;
}
.pagination .active a:hover,
.pagination .disabled a:hover {
	color: #999999;
	background-color: transparent;
	cursor: default;
}
.pagination a:hover {
	color: #3355BB;
}

.filtertitle {
	font-weight: bold;
}

.table-filter {
	padding-bottom: 4px;
}

.filteroption:hover {
	cursor: pointer;
	color: #3355BB;
}

.filteroption.active {
	text-decoration: underline;
	color: #3355BB;
	font-weight: bold;
}
 
/*---------------------------------------------------------------*/

.resourcetile {
	margin: 5px;
	text-align: center;
}

.resourcetitle {
	font-family: 'Optima', sans-serif;
	font-weight: bold;
	font-size: 1.1em;
}

.resourcedesc {
	text-align: left;
}

/*---------------------------------------------------------------*/

.partnerimg {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*---------------------------------------------------------------*/

.faqquestion {
	font-weight: bold;
}